# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (c) 2026 Seongjae Kim

#
# Editor configurations
#

.vscode/
.cache/

compile_commands.json

#
# Build outputs
#

bin/
*.o
*.a
*.so
*.elf
*.img
*.d
fxos

#
# Script outputs
#

.script-mount-info

#
# Logs
#

*.log
